.navbar{
    background-color:#03BFCB !important;
}

body{
    background-color:#F5F5F5;
}
.form-inline{
    display: flex;
}
.row{
    margin: 0;
 
  }
.col-md-12{
    margin: 0;
    padding-right: 0;
}