
    <div class="card-container wow fadeIn main" style="position: fixed ; width:300px  ; background-color: #f1f2f7;">
        
        <img class="round" src="/assets/haythem.jpg" style="height: 200px;" alt="user" />
        <h3>Ricky Park</h3>
        <h6>New York</h6>
        <p>User interface designer and <br /> front-end developer</p>
        
        <div class="skills" style="background-color: #f1f2f7;">
            <h6>Skills</h6>
            <ul>
                <li>UI / UX</li>
                <li>Front End Development</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Node</li>
            </ul>
        </div>
        <div class="buttons" style="margin-top: 50px;">
            <button class="primary">
                Edit profile
            </button>
            <button class="primary ghost">
                Logout
            </button>
        </div>
    </div>