
    <span class="card-container wow fadeIn main" style="width:300px  ; background-color: #f1f2f7; display: inline-block; position: fixed; top: 0;">
        <img class="round" src="/assets/haythem.jpg" style="height: 200px;" alt="user" />
        <h3>Ras Jebel</h3>
        <h6>Tunisie</h6>
        <p> Back-end Developper</p>
        
        <div class="skills" style="background-color: #f1f2f7; width: 300px;" >
            <h6>Skills</h6>
            <ul>
                <li>Springboot</li>
                <li>Angular</li>
                <li>HTML</li>
                
                
            </ul>
            <ul>
                
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Python</li>
                
            </ul>
        </div>
        <div class="buttons" style="margin-top: 50px;">
            <button class="primary">
                Edit profile
            </button>
            <button class="primary ghost">
                Logout
            </button>
        </div>
    </span>