<div style="margin-left: 10px; margin-top: 10px; width:800px;">
    <div class="panel">
        <form>
            <textarea placeholder="Whats in your mind today?" class="form-control input-lg p-text-area"></textarea>
        </form>
        <footer class="panel-footer">
            <button class="btn btn-primary pull-right">Post</button>
            <ul class="nav " style="padding-top:5px ;">
                <li>
                    <a href="#"><i class="fa fa-map-marker" style="padding-right: 10px;"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-camera" style="padding-right: 10px;"></i></a>
                </li>
                <li>
                    <a href="#"><i class=" fa fa-film" style="padding-right: 10px;"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-microphone" style="padding-right: 10px;"></i></a>
                </li>
            </ul>
        </footer>
    </div>
    </div>